* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: navajowhite;
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
    padding: 1rem 0;
}

img {
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type=radio] {
    display: none;
}

.accordion-container input:checked ~ .accordion-content {
    display: block;
}

.accordion-container {
    max-width: 60%;
    margin: 5% auto;
}

.accordion-container:hover {
    cursor: pointer;
}

.header__close {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.accordion-title {
    max-width: 70%;
    font-size: 1rem;
}

.accordion-content {
    overflow: hidden;
    width: 30%;
    margin: 1rem auto;
    display: none;
}


/*                    close button                                        */
.close {
    display: block;
    width: 1rem;
    height: 1rem;
    padding-top: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.close:before,
.close:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 1rem;
}

.close:after {
    transform: translateY(-50%) rotate(-90deg);
}

.accordion-toggle:checked + .accordion-header .close::before {
    transform: translateY(-50%) rotate(45deg);
}

.accordion-toggle:checked + .accordion-header .close::after {
    transform: translateY(-50%) rotate(-45deg);
}